
<ion-view title="Login" ng-controller="AuthController">

    <ion-content padding="true" class="has-header">

        <form class="list">
            
            <ion-list>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Tryp Username">
                </label>

                <label class="item item-input" id="login-input3">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>

            <div class="spacer" style="height: 40px;"></div>
            
            <button class="button button-stable  button-block" ng-click="login()">Log in</button>

            <a href="#/app/signup"> Signup </a>

        </form>
    </ion-content>
</ion-view>