<ion-view title="Signup" ng-controller="AuthController">
    <ion-content padding="true" class="has-header">

        <form class="list">
            <ion-list id="signup-list2">
    
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
    
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
    
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
    
                <label class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input type="text" placeholder="">
                </label>
    
            </ion-list>
            <button class="button button-stable  button-block" ng-click="signup()">Sign up</button>
        </form>
    
    </ion-content>
</ion-view>